html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar {
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hamburger {
  width: 20px;
  height: 25px;
}

.youtube-logo img {
  width: 90px;
  margin-left: 1rem;
}

.search-input {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 10px;
  width: 30rem;
}

.search-button {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid gray;
  width: 4rem;
}

.search-button img {
  width: 40px;
  height: 40px;
}

.settings-logo img {
  width: 40px;
  height: 40px;
}

.signin-button img {
  width: 40px;
  height: 40px;
}

.signin-button p {
  margin-left: 10px;
}

.microphone {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem;
  margin-left: 1rem;
}

.microphone:hover {
  background: rgb(216, 215, 215);
  cursor: pointer;
}

.microphone img {
  width: 1.5rem;
  height: 1.5rem;
}

.video iframe {
  width: 70vw;
  height: 40vw;
}

.account-img img {
  width: 3rem;
  border-radius: 50%;
}

.account-details {
  margin: 1rem;
}

.video-details-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.video-details-container h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: start;
}

.items-center {
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
